@font-face {
	font-family: 'MyFontFamily';
	src: url('fonts/myfont-webfont.eot');                   	/* IE9 Compat Modes */
	src: url('fonts/myfont-webfont.eot?iefix') format('eot'),   	     /* IE6-IE8 */
	url('fonts/myfont-webfont.woff') format('woff'),         	 /* Modern Browsers */
	url('fonts/myfont-webfont.ttf') format('truetype'), 	/* Safari, Android, iOS */
	url('fonts/myfont-webfont.svg#svgFontName') format('svg');    	  /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
	
}