// all your mixins belong here
@mixin respond-to($media) {
    @if $lte-ie8 {
        @content;
    }
    @else if $media == mobile {
        @media only screen and (max-width: 600px) { 
            @content;
        }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 601px) { 
            @content; 
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 1001px) { 
            @content; 
        }
    }
}
