// Fall back values for ie boolian vars
$ie7: false !default;
$ie8: false !default;
$ie9: false !default;
$lte-ie7: false !default;
$lte-ie8: false !default;
$lte-ie9: false !default;

//typography
$font-family-default: "Verdana", sans-serif;
$font-family-contrast: "Times New Roman", "Georgia", serif;

$base-font-size-mobile: 1em;        //16px
$base-font-size-tablet: 0.875em;    //14px
$base-font-size-desktop: 0.75em;    //12px
$base-line-height: 6px;

//compass readymades
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout/sticky-footer";

