<!doctype html>
<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content=""/>
        <meta name="description" content="">
        <meta name="DC.contributor" content="Fabrique [brands, design &amp; interaction]">
        <link rel="DC.contributor" href="http://www.fabrique.nl/">
    
        <meta property="og:image" content="">
        <meta property="og:title" content="">
        <meta property="og:type" content="article">
        <meta property="og:url" content="">

        <link rel="icon" href="" type="image/x-icon">
        <!-- For third-generation iPad with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
        <!-- For iPhone with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="">

        <!-- build:css({.tmp,src}) presentation/screen.css -->
        <link rel="stylesheet" href="sass/screen.css">
        <!-- endbuild -->
       
        <!-- build:js js/vendor/head.js -->        
        <script src="behaviour/head.js"></script>
         <!-- endbuild -->
        <!-- build:js js/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!-- build:js js/vendor/responive.js -->
        <script src="bower_components/respond/respond.min.js"></script>
        <script src="bower_components/responsejs/response.min.js"></script>

        <script>
        /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
        window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
        grunticon( [ "images/svg-build/icons.data.svg.css", "images/svg-build/icons.data.png.css", "images/svg-build/icons.fallback.css" ] );</script>
        <noscript><link rel="stylesheet" href="images/svg-build/icons.fallback.css"></noscript>
    </head>
    <body>
        {{> header }}
        {{> body }}
        <!-- build:js js/vendor/jquery.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbuild -->
        <!-- build:js behaviour/main.js -->
        <script src="behaviour/main.js"></script>
        <!-- endbuild -->
        <!-- build:js behaviour/plugins.js -->
        <script src="behaviour/plugins.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
